* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 1.2rem;
}

header {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 1;
}

header .header-logonav-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
header .header-logonav-container.is-active {
  background-color: var(--white);
}

.icon-menu {
  position: absolute;
  left: 20px;
  width: 20px;
  height: 18px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/room-homepage.appspot.com/o/icon-hamburger.svg?alt=media&token=47728ab7-1f60-4e2c-9500-936db03d05b1);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
.icon-menu.close-icon {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/room-homepage.appspot.com/o/icon-close.svg?alt=media&token=f1369240-a2cc-42c0-8f9f-2d0f4750169a);
}

.nav-container {
  position: absolute;
  display: none;
  width: 75%;
  font-size: 1.3rem;
}
.nav-container.is-active {
  display: block;
  right: 15px;
}

.nav-container nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container nav ul li {
  list-style: none;
}

.nav-container nav ul li a {
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}
.nav-container nav ul li a:hover {
  text-decoration: underline;
}

main {
  width: 100%;
  height: auto;
}

main .main-sliders-container {
  position: relative;
}

.sliders-container {
  width: 100%;
}
.slider1 {
  display: block;
  width: 100%;
}
.slider1.is-active {
  display: none;
}
.slider2 {
  display: none;
}
.slider2.is-active {
  display: block;
  width: 100%;
}
.slider3 {
  display: none;
}
.slider3.is-active {
  display: block;
  width: 100%;
}

.slider1-img img {
  width: 100%;
  height: auto;
}
.slider2-img img {
  width: 100%;
}
.slider3-img img {
  width: 100%;
}

.slider-description {
  width: 100%;
  height: auto;
  padding: 50px 27px 60px;
}
.slider-description h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}
.slider-description p {
  margin-bottom: 40px;
  color: var(--dark-gray);
  line-height: 1.8rem;
}
.slider-description a {
  font-weight: 600;
  letter-spacing: 1rem;
  text-decoration: none;
  color: var(--black);
}
.slider-description a:hover {
  color: var(--dark-gray);
}

.sliders-call {
  position: absolute;
  top: 305px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 55px;
}
.sliders-call .arrow-icon {
  width: 55px;
  height: 55px;
  background-color: var(--black);
}
.sliders-call .arrow-icon:hover {
  background-color: var(--dark-gray);
}
.sliders-call .arrow-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.sliders-call .arrow-icon img {
  width: 11px;
}

main .main-furniture-section {
  width: 100%;
  height: auto;
}
.furniture-img img {
  width: 100%;
}

.furniture-description {
  padding: 50px 27px;
}
.furniture-description h4 {
  margin-bottom: 15px;
  letter-spacing: 0.4rem;
}
.furniture-description p {
  color: var(--dark-gray);
  line-height: 1.8rem;
}

@media screen and (min-width: 425px) {
  .sliders-call {
    top: 353px;
  }
}

@media screen and (min-width: 600px) {
  .sliders-call {
    top: 521px;
  }
}

@media screen and (min-width: 720px) {
  body {
    font-size: 1.4rem;
  }

  .logo-container {
    width: 80px;
  }
  .logo-container img {
    width: 100%;
  }

  .nav-container nav ul li a {
    font-size: 1.5rem;
  }

  .slider1-img {
    height: 60vh;
  }
  .slider1-img img {
    height: 100%;
  }

  .slider-description h2 {
    font-size: 3rem;
  }
  .slider-description p {
    line-height: 2.2rem;
  }

  .sliders-call {
    top: 621px;
    width: 140px;
    height: 70px;
  }
  .sliders-call .arrow-icon {
    width: 70px;
    height: 70px;
  }
  .sliders-call .arrow-icon img {
    width: 15px;
  }

  .furniture-description p {
    line-height: 2.2rem;
  }
}
@media screen and (min-width: 768px) {
  .sliders-call {
    top: 667px;
  }
}

@media screen and (min-width: 800px) {
  .sliders-call {
    top: 698px;
  }
}

@media screen and (min-width: 900px) {
  .sliders-call {
    top: 794px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    max-height: 100vh;
  }

  .icon-menu {
    display: none;
  }
  .icon-menu.close-icon {
    display: none;
  }

  header .header-logonav-container {
    justify-content: flex-start;
    width: 55%;
    padding: 0 50px;
  }

  .nav-container {
    position: static;
    display: flex;
    justify-content: center;
  }
  .nav-container nav {
    width: 100%;
  }
  .nav-container nav ul {
    justify-content: space-around;
    width: 90%;
  }
  .nav-container nav ul li a {
    color: var(--white);
  }

  .slider1 {
    display: flex;
  }
  .slider2.is-active {
    display: flex;
  }
  .slider3.is-active {
    display: flex;
  }
  .slider1-img {
    width: 55%;
  }
  .slider1-img img {
    height: 100%;
  }
  .slider2-img {
    width: 55%;
  }
  .slider2-img img {
    height: 100%;
  }
  .slider3-img {
    width: 55%;
  }
  .slider3-img img {
    height: 100%;
  }
  .slider-description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 45%;
    padding: 130px 40px;
  }

  .sliders-call {
    top: calc(100% - 70px);
    right: calc(45% - 140px);
  }

  main .main-furniture-section {
    display: flex;
  }
  .furniture-img {
    width: 27%;
  }
  .furniture-img img {
    height: 100%;
  }
  .furniture-description {
    width: 46%;
    padding: 30px;
  }
}

@media screen and (min-width: 1180px) {
  .slider-description {
    padding: 160px 50px;
  }

  .furniture-description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 46%;
    padding: 30px 30px;
  }
}

@media screen and (min-width: 1280px) {
  .slider-description {
    padding: 220px 80px;
  }

  .furniture-description {
    padding: 28px 30px 28px 40px;
  }
}

@media screen and (min-width: 1360px) {
  body {
    max-width: 1440px;
  }

  .slider-description {
    padding: 300px 90px;
  }

  .furniture-description {
    padding: 40px 35px 40px 40px;
  }
}
