* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 1.2rem;
}

header {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 1;
}

header .header-logonav-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.6); */
}
header .header-logonav-container.is-active {
  background-color: var(--white);
}

.icon-menu {
  position: absolute;
  left: 20px;
  width: 20px;
  height: 18px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/room-homepage.appspot.com/o/icon-hamburger.svg?alt=media&token=47728ab7-1f60-4e2c-9500-936db03d05b1);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
.icon-menu.close-icon {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/room-homepage.appspot.com/o/icon-close.svg?alt=media&token=f1369240-a2cc-42c0-8f9f-2d0f4750169a);
}

.nav-container {
  position: absolute;
  right: -75vw;
  width: 75%;
  font-size: 1.3rem;
  transition: 0.3s;
}
.nav-container.is-active {
  right: 15px;
}

.nav-container nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container nav ul li {
  list-style: none;
}

.nav-container nav ul li a {
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

main {
  width: 100%;
  height: auto;
}

main .main-sliders-container {
  position: relative;
}

.sliders-container {
  width: 100%;
}
.slider1 {
  display: none;
}
.slider2 {
  display: block;
}
.slider3 {
  display: none;
}

.slider-description {
  width: 100%;
  height: auto;
  padding: 50px 27px 60px;
}
.slider-description h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}
.slider-description p {
  margin-bottom: 40px;
  color: var(--dark-gray);
  line-height: 1.8rem;
}
.slider-description a {
  font-weight: 600;
  letter-spacing: 1rem;
  text-decoration: none;
  color: var(--black);
}

.sliders-call {
  position: absolute;
  top: 305px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 55px;
  background-color: var(--black);
}
.sliders-call .arrow-icon {
  width: 55px;
  height: 55px;
}
.sliders-call .arrow-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.sliders-call .arrow-icon img {
  width: 11px;
}

@media screen and (min-width: 720px) {
  .icon-menu {
    display: none;
  }
  .icon-menu.close-icon {
    display: none;
  }
}
